* {
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #CAE0EF;
}

#gisell {
    width: 275px;
    height: 340px;
    margin-bottom: 1em;
    margin-top: 3em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 2rem;
}
h3 {
  margin-bottom: 2rem;
}

#image {
   width: 500px;
   height: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

#img2 {
    width: 60px;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20%;
}

.design {
   background-image: url(./images/bg2.jpg);
   min-height: 600px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   padding-bottom: 1rem;
}

.design2 {
    background-image: url(./images/bg2.jpg);
   min-height: 600px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
}
